.steps-header {
  width: 100%;
  padding: 2rem 0;
  h1 {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 1.4rem;
    margin-bottom: 1.6rem;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
