@import "../../scss/colors";

.steps-action {
  .action-button {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    width: 20rem;
    padding: 1rem 5rem;
    text-align: center;
    border: 1px solid black;
    line-height: 3rem;
    color: $color-text-primary;
    margin: 3rem auto 5rem auto;
    font-weight: 300;
  }
}
