@import "../../scss/colors";

.cta {
  margin-top: -9rem;
  display: flex;
  width: 100vw;
  .image-container {
    width: 50%;
  }
  .image {
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-repeat: no-repeat;
    position: relative;
    left: -30rem;
    height: 60rem;
    width: 85rem;
    z-index: -1;
  }
  .action {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      text-align: center;
      font-size: 2.3rem;
      margin: 0.8rem 0;
      color: $color-text-primary;
    }
    img {
      margin: 2rem 0;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      width: 20rem;
      padding: 1rem 5rem;
      text-align: center;
      border: 1px solid black;
      line-height: 3rem;
      color: $color-text-primary;
      margin: 3rem 2rem;
      font-weight: 300;
    }
  }
}
